.text-center
{
    text-align: center;
}

.text-white 
{
    color: #fff;
}

.chakra-container {
    max-width: 75%;
    margin: 0 auto;
}
.relative
{
    position: relative;
}
nav.navbar-header {
    padding-top: 15px;
}
.chakra-body {
    background: url("../../../assets/landing/chakra-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.crown-image img {
    height: 235px;
    width: auto;
}

h3.main-title {
    font-size: 24px !important;
    font-weight: 700;
    margin-top: 26px;
}

p.light {
    font-weight: 300;
    margin: 0 auto;
    font-size: 14px;
}

.space {
    padding: 50px 0;
}
.space-top {
    padding-top: 80px;
}

.swiper-paragraph {
    width: 100%;
    box-sizing: border-box;
    /* background: #e8e8e80f; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.101); */
    border-radius: 30px;
    padding: 20px;
    margin-top: -30px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }